<div class="task">
  <div class="header">
    <div>
      <!-- Render title here... -->
      {{ task.title | uppercase }}
    </div>
    <div>
      <select (change)="changeStatus($event)">
        <option *ngFor="let statusType of statusTypes" 
                value="{{ statusType }}"
                [selected]="statusType === task.status">{{ statusType }}</option>
      </select>
    </div>
    <!-- Markup for dropdown menu here... -->
  </div>
  <hr>
  <div class="body">
    <!-- Render description here... -->
    {{ task.description }}
    <div class="cross"><span (click)="onClick($event)">X</span></div>
  </div>
</div>